*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

    
}




@font-face{
    font-family: myFont;
    src: url(BLOVERLY.otf);
}
@font-face{
    font-family: LEMON;
    src: url(LEMONMILK-Regular.otf);
}

@font-face{
    font-family: Font;
    src: url(Thesignature.otf);
}

@font-face{
    font-family: Anton;
    src: url(Anton-Regular.ttf);
}


h99{
    font-family: myFont;

}

h29{
    font-family: Font;
    color: gold;
    font-size: 60px;
}




.back-video{

position: relative;
right: 0;
bottom: 0;
z-index: -1;
overflow: hidden;
margin-top: 1.5px;
margin-bottom: -56px;




}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height:auto;
       
    }
    
   
}
.autotype{
    color: rgb(255, 136, 0);
    font-family: fantasy;
    font-weight: 100;
}



h62{
 
    position: absolute;
    font-family: 'oswald';
    font-size: 60px;
    font-weight: 600;
    padding-left: 10px;
    color: white;
    top:-10px;

}
@media only screen and (max-width: 790px){
    h62{
        top: 0;
        font-size: 50px;
    }
}

@media only screen and (max-width: 590px){
    #green{
        width: 150%;
        overflow-x: scroll;
       
       
    }

    #fire{
       padding-left: 80px;
       width: 150%;
    }
  
   
}




#section10{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    position: fixed;
}

.caard{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    
    border-radius: 20px;
    transition: 0.5s;
    transition-delay: 0.2s;

}
.caard:hover{
    width: 600px;
    transition-delay: 0s;
}

.caard .circle{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    


}

.caard .circle .logoo{
position:relative;
transition: 0.5s;
transition-delay: 0.5s;


}

.caard:hover .circle .logoo{
transform: scale(0);
transition-delay: 0;
}



.caard .circle::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: var(--cir);
    clip-path: circle(120px at center);
    transition: 0.5s;

}

.caard:hover .circle::before{
    clip-path: circle(400px at center);
}
/*---------
.glasss{
    position: absolute;
    width: 97%;
    height: 100%;
    
    left:0;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.048);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
    overflow: hidden;
    
    

}

------*/



.hidden{
    opacity: 0;
    transition:all 1s;
    
    transform: translateX(-100%);
}
.roww{
    display: flex;
    align-items: center;
    flex: wrap;
    justify-content: space-around;
}

.col-22 p{
    line-height: 25px;
    filter: brightness(100%);
    color:#fff;
}

.col-22{
    flex-basis: 50%;
    min-width: 300px;
}


#text{
    width: 50%;
    position: relative;
    top: -340px;
    
    
}


.col-22 img{
    max-width: 100%;
    padding: 50px 0;
    filter: brightness(160%);
    border: 1px solid transparent;
    padding: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 15px;
    filter: contrast(130%);
    background: rgb(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}
.shadow img{
    max-width: 100%;
    padding: 50px 0;
    padding: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 15px;

 
}



    
    
    
    
    
    
    


.col-22 h11{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #fff;
    filter:brightness(130%);
    font-weight: 600;
}


.fix{
    padding-bottom: 300px;
}












/*-------
#makori{
    background: #410d0d;
    border-radius: 50%;
    transform: rotate( 359deg);
   
    animation-timing-function: linear;
    animation: rotation 30s linear infinite;
    
}

@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }

}

----*/

    





.show{
    opacity: 1;
    
    transform: translateX(0);
}
body{
    font-family: 'oswald', sans-serif;
    overflow-x: hidden;
    
    
 
}



.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
    
    
    


}

.nerv{
    background:transparent;
}
nav{
    
        position: fixed;
        backdrop-filter:blur(10px);
        height: 100vh;
        width: 0;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        opacity: 0;
        transition: all .7s ease-in-out;
        font-family: Anton;
       

        
        
    
   

    
    

}

nav ul{
    display: inline-block;
    list-style: none;
    
    
    
    

}

nav ul li{
    display: block;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    

    
    
   
    
   
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    font-family: "oswald";
    align-items: center;
    justify-content: center;
    text-align: center;
    

    
   
    
}

a:hover{
  
    color: rgb(255, 251, 0);
}

p{
    color: #fff;

}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
    
    
}



.roo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #0f3b41;
    margin-bottom: -10px;
    padding-left: 20px;
    
    
    

}



section98 img {
    
    background: #79d13e;
   

}



.containeer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    
   
   
    
    
    

}


.spann{
    color: white;
    font-size: 30px;
    cursor: pointer;
    font-weight:bold;
    position: absolute;
    transition: color;
    top:0;
     left: 95%;
     
     
   
    

 
}

#span{
    
    margin-right: 30px;
    color: white;
    position: relative;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    
    color: #fff;
    padding: 0px 20px;
    border-radius: 30px;
    left: 90%;
    
}

.rowe{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}





.cole{
    flex-basis: 50%;
    width: 100%;
    padding-left: 20px;
    position: absolute;
    background:#79d13e;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.7);
    height: 350px;
    left: 0;
    height: 100%;
    backdrop-filter: blur(10px);
    padding-top: 10px;
    clip-path: circle(10% at 0% 0%) ;
    transition: all.5s ease-in-out;
    
    
    

    
    
    


}

#black{
    color: white;
    font-family: 'oswald', sans-serif;

}



h56{
    color: white;
    font-size: 25px;

}




.cole p{
     width: 100%;
    text-align: left;
    padding-top:0px;
    position: relative;
    color: white;
    font-family: 'oswald', sans-serif;
    font-size: 30px;
    margin-top: 90px;
    
}


.done h79 {
color: rgb(36, 33, 33);

padding-left: 30px;
padding-right: 30px;
text-align: center;
box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.55);


}



.one h79 {

    color: rgb(36, 33, 33);

    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  
    
    }

    @media only screen and(max-width:600px){
        .one{
            font-size: 20px;
            opacity: 0;
        }
    }


 h80 {
 color:gold;
 font-family: Anton;
 font-size: 60px;
 padding-left: 20px;

 width: 100%;
 padding-top: 10px;
 position: relative;
 display: flex;
 line-height:50px;
    
   
    
    
    
    }



.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background:rgb(36, 33, 33);
    margin-bottom: -9.3px;
    padding-left: 20px;
    
    
    

}


.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding-left: 50px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    


}





.col-s{
    flex-basis: 50%;
    min-width: 300px;
    padding-left: 80px;
   
  
    
   

}

.col-2 img{
    max-width: 50%;
    padding: 50px 0;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 5px;
    background: rgb(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    
    
}

.col-s img{
    width: 100%;
    position: relative;
    left: -13.5%;
   filter: brightness(120%);
   filter: contrast(120%);
 

   border: 1px solid transparent;
   padding: 1px;
   border-radius: 5px;
   background: rgb(255, 255, 255, 0.1);
   box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  

   
    
    
}

@media only screen and (max-width: 610px){
    .col-s img{
        left: 0;
    }
    .row{
        height: 950px;
    }
}









#cd{
    width: 120%;
    border: none;
    background: none;
    box-shadow: none;
}
#section9{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: oswald;
}
input{
    display: none;
}
/*------gradient------
background:linear-gradient(180deg,rgb(15, 184, 80), #1fdb2f, #e82c2c 75%);
*/

.contained{
    width: 100%;
    text-align: center;
    background:rgb(36, 33, 33);
    align-items: center;
    max-height: 3000px;
    
   
    justify-content: space-around;
}


.done{
    width: 100%;
    text-align: center;
    
    align-items: center;
    max-height: 3000px;
    background: wheat;
    
    
   
    justify-content: space-around;
}

.one{
    width: 100%;
    text-align: center;
    
    align-items: center;
    position: absolute;
    max-height: 3000px;
    background:transparent;
    top:50px;
    
    
   
    justify-content: space-around;
}
h13{
    font-weight: normal;
    font-size: 45px;
    position: relative;
    margin:50px 0;
    color: gold;
    
    
}

h13::before{
    content:"";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: gold;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation:animate 4s linear infinite;
}


@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }

    100%{
        width: 100px;
    }

}







h31{
    color: gold;
    font-size: larger;
    position: relative;
    top: -50px;
    
}

body
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #fff;
}

.col-2 p{
    font-size: 25px;
    width: 100%;
    text-align: center;
}


.btn{
    display: inline-block;
    background: gold;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;

   
    transition: background 0.5s;
}

.bitn{
    display: inline-block;
    background: rgba(255, 217, 0, 0.603);
    color: #fff;
    padding: 8px 30px;
    
    transition: background 0.5s;
  position: relative;
  font-size: 20px;

  


}

.bttn{
    display: inline-block;
    background: rgba(255, 217, 0, 0.603);
    color: #fff;
    padding: 2px 30px;
    
    transition: background 0.5s;
  position: relative;
    top:-60px;
    left: 0%;
    font-size: 30px;
    

}

@media only screen and (max-width: 580px){
    .bttn {
        width:20%;
        left:-5%;
    }
    .whole{
        overflow-x:scroll;
    }
}


.btnnn {
    position: relative;
    display: inline-block;
    background: white;
    color: black;
    padding: 8px 30px;
     


    
    
    transition: background 0.5s;
    top: 100px;
    
   
    
}

.btnn{
    display: inline-block;
    background: #fff;
    color: rgb(15, 14, 14);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 60px;
    transition: background 0.5s;
}
.btnn:hover{
    background: #690303;
    color: #fff;
}

.btnnn:hover{
    background: #690303;
    color: #fff;
}


.header{
    background: transparent;
    position: absolute;
    
    width: 100%;
   

}









.btn:hover{
    background: #d13e3e;
    


}

.bitn:hover{
    background: #d13e3e;
    color: white;
    


}


.bttn:hover{
    background: #d13e3e;
    color: white;
    


}

.menu{
 
    cursor: pointer;
    
    

}

.menu div{
    width:100px;
    height: 100px;
    top: -10px;
    margin:10px;
    position:absolute;
  
    left: 0;
    
   
   
    
    
    

}

.menu span{
    background: #fff;
    width: 40%;
    height: 2px;
    border-radius: 2px;
    display: block;
    position: absolute;
    top:20%;
    right: 27%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s, width 0.5s;
    display: block;
    cursor: pointer;
    
    
    

}

.menu .line-1{
    transform: translate(-50% , 10px);
    


}

.menu .line-3{
    transform: translate(-50% , -15px);


}

.openmenu .line-1{
    transform: translate(-50% , -50%) rotate(-45deg);
}


.openmenu .line-3{
    transform: translate(-50% , -50%) rotate(45deg);
}

.openmenu .line-2{
   width: 0;
}


/*---------footer---------*/
.footer{
  background:#1f1d1d;
  color: white;
  font-size: 14px;
  padding: 60px 0 20px;
  
  
  

}

.footer p{
    color: #8a8a8a ;
}

.footer h3{
    
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
  position: inherit;
  padding-top: 10px;
  padding-left: 70px;

}

.footer-col-1{
    flex-basis: 30%;

}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 p{
    font-family: Font;
    font-size: 150px;
}

h79{
    font-family: Font;
    font-size: 150px;
    color: gold;
    
}

.transform{
    background: wheat;
    width:;
}
@media only screen and(min-width:600px){
    .transform{
     
        width:;
    } 
}
h93{
    font-family: Anton;
    font-size: 40px;
    color: black;
    
}


.footer-col-2 img{
 width: 250px;
 margin-bottom: 20px;
 
}


.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.footer hr{
    
    height: 1px;
    margin: 20px 0;
}

hr{
    height: 1px;
    margin: 20px 0;
      
}


.copyright{

    text-align: center;

}


.box{
    height: 100vh;
    width: 100%;
    background-image: url(pins/croped.jpg);
    background-size: cover;
    position: relative;

}



.left-col h12{
    font-size: 90px;
    color: #fff;
    line-height: 110px;
    float: left;
}

.right-col{
    
    margin-right: 6%;
    margin-top: 100px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);

}

.right-col p{
    font-size: 18px;
    color: #5f5f5f;
    font-weight: 400;
    margin-right: 15px;

}



.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
  }

  .card{
 margin: 70px 50px;

 

 
 

  }

  .card h38{

    padding-bottom: 10px;
    color: #690303;
    font-weight: 600;
    font-size: 60px;
    

 
    
  }

 .row-12 {
    padding-bottom: 30px;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 10px;

    
    
   
  
    
    
 }

 .row-12 img{
    padding-bottom: 30px;
    padding-top: 30px;
   
    
 

 }


 
 .layer {
    background: transparent;
    height: 350px;
    width: 100%;
    position: relative;
    top: -385px;
    transition: 0.5s;
   
   
    
  
    

 }




 


 



 .layer h40{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    padding-left: 440px;


 }
.layer img{
    opacity: 0;
    padding-left: 10px;
    cursor: pointer;
}




 .col-14 {
   max-height: 400px;
 }

 .col-13 {
    max-height: 400px;
 }

 .col-15 {
    max-height: 400px;
 }

 .col-16{
    max-height: 400px;
 }

 .col-17{
    max-height: 400px;
 }

 .col-18{
    max-height: 400px;
 }

 .col-19{
    max-height: 400px;
 }

 .col-20{
    max-height: 400px;
 }

 
 @media only screen and (max-width: 500px){

    .path-col img{
        width: 140%;
       
    }
}

 @media only screen and (max-width: 790px){

    h62{
       
        font-size: 40px;
  
        line-height: 40px;
    
    }

    .path-col img{
        width: 120%;
        justify-content: center;

    }


  
  

    #black{
        font-size: 0.3px;
        
    }
}

.btnnn{
    top: 0px;
}

#black{
    font-size: 13px;
}

 




 
 @media only screen and (max-width: 800px){



    .cole p{
        font-size: 14px;
        top: -50px;
    }
     

    .col-2{
        padding-left: 10px;
    }
    
    .col-2 p{
       font-size: 20px;
    }

    .col-s{
        padding-left: 0;
    }
    
    
    
    .col-13 img{
        width: 250px;
     }
    .col-14 img{
        width: 250px ;
    }

    .col-15 img{
        width: 250px ;
    }

    .col-16 img{
        width: 250px ;
    }

    .col-17 img{
        width: 250px ;
    }

    .col-18 img{
        width: 250px ;
    }

    .col-19 img{
        width: 250px ;
    }

    .col-20 img{
        width: 250px ;
    }

   

    

         .layer {
            
            height: 250px;
          
            top: -285px;
           


         }
         .col-14 {
            max-height: 300px;
          }
         
          .col-13 {
             max-height: 300px;
          }
         
          .col-15 {
             max-height: 300px;
          }
         
          .col-16{
             max-height: 300px;
          }
         
          .col-17{
             max-height: 300px;
          }
         
          .col-18{
             max-height: 300px;
          }
         
          .col-19{
             max-height: 300px;
          }
         
          .col-20{
             max-height: 300px;
          }



          .layer img{
            width: 60px;
          }
         
          
          .row-12 {
        width: 400px ;
            
         }

         .layer h40{

            padding-left: 10px;
         }

         .imeg img{
        width: 250px;
        top: -20px;
        left: 200px;
        position: absolute;

           }
       

           .imeg1 img{
            width: 200px;
            padding-top: 130px;
            padding-left: 10px;
               
               }

           

           .menu span{
            display: block;
            cursor: pointer;

           }

           .text p{
            max-width: 400px;
 
           }

           .imeg2 img{
        width: 250px;
        
    
           
           }

}

.card img{
    padding-top: 0;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.45);
    background: #0f3b41;
}

.blue{

    background: #0f3b41;
    margin-top: -60px;
}


.imeg img{
 float:right ;
 margin-top: -300px;
 padding-left: 60px;
 bo

 
 

}

.imeg1 img{
    float:right ;
    margin-top: -150px;
    filter: brightness(150%);
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);
    position: relative;
    
    
   
   }

   .imeg2 img{
    float:right ;
    margin-top: -300px;
    padding-left: 60px;
    
   
    
    
   
   }

   .modern img{
    margin-bottom: -30px;
    margin-top: -10px;
   }

   section1{
    overflow-x: hidden;
    
   }

   section3 img{
    margin-bottom: -30px;
   }
   #red{
background:wheat;
   }

  
.location{
    width:80%;
    margin: auto;
    padding: 80px 0;
}


   .location iframe{
 
    width: 100%;
  
  
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.25);
   }

   .fa{
    color:wheat;
    width: 100%
   }





.path-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background: linear-gradient(to right, rgb(2, 54, 9), rgb(6, 100, 21));
    
    
    

}






   .path-col{
    flex-basis: 50%;
    min-width: 300px;
    padding-left: 80px;
    
   

}


.path-col img{
    width: 100%;
  
    border: 1px solid transparent;
    margin-left: -100px;
 
    
    
}

#fire{
    width: 100%;
    align-self: center;
}

section33{
   
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;

    
 
    background: #111;
    height: 450px;
    overflow: hidden;
   
    
    
    
  
  }






.timeline{
    position: relative;
    max-width: 1200px;
    

   
    
}

.time-container{
padding: 10px 50px;
position: relative;
width: 50%;
background: rgb(255, 255, 255, 0.1);
box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
animation: movedown 1s linear forwards;
opacity: 0;
cursor: pointer;
transition: 1s;



}

.time-container:hover{
    background: #b9f70e;
    color: #fff;
}

#image{
background: rgb(255, 255, 255, 0.1);
box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
margin-left: 50px;
border: 5px solid rgb(69, 110, 44);


}

#imagee{
    background: rgb(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    margin-left: 50px;
    margin-left: 70%;
    border: 5px solid rgb(69, 110, 44);
    
    
    }
@keyframes movedown{
    0%{
       opacity: 1;
       transform: translateY(-30px);
    }

    100%{
      opacity: 1;
      transform: translateY(0px);
    }
}




.textbox{
    padding: 20px 30px;
   
    position: relative;
    border-radius: 6px;
    font-size:15px;
}

.left-container{
    left:0;
}

.right-container{
    left: 50%;
}

.time-container img{
    position: absolute;
    width: 40px;
    right: -20px;
    top:32px;
    z-index: 10;
}


.right-container img{
    left: -20px;
}

.timeline::after{
    content: '';
    position: absolute;
    width:2px;
    height:150%;
    background:rgb(255, 136, 0);
    filter: brightness(120%);
    top: 0;
    left: 50%;
    margin-left: ;
    z-index: -1;
    animation: moveline 20s linear forwards;

}


@keyframes moveline{
    0%{
        height: 0%;
    }

    100%{
        height: 100%;
    }

   

}
















.textbox small{
    display: inline-block;
    margin-bottom: 15px;
    
}

small:hover{
    color: #fff;
}

.textbox p{
  color: #5f5f5f;
    
}
.textbox:hover{
    color:white;
}


section00{
    position: relative;
  
    margin-bottom: 0;
    overflow-y: hidden;
 
   
    
    

}

section00{
    background:#fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding:0;
    display: flex;
    align-items: center;
    background: wheat;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom:0;
   
  }




  .containeer{
    background:#79d13e;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding:0;
    display: flex;
    align-items: center;
   
    
  }

  .top-content{
    background-color: rgb(230, 229, 229);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
  }

h14{
    background-color: lightgray;
    height: 100%;
    line-height: 60px;
    padding: 0 50px;
    color: white;
}

label{
    display: inline-block;
    height: 100%;
    padding: 0 5px;
    margin: 0 10px;
    line-height: 60px;
    color: gray;
    cursor: pointer;
    transition:  color.3s;
  
}

label:hover{
    color: gold;
}

.photo-gallery{
    width:90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
   

    
}

.pic{
    position: relative;
   
    border-radius: 10px;
    height: 100%;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition:.3s;
}
.pic::before{
    content:"PHOTO GALLERY";
    position:absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: light;
    width: 100%;
    opacity: 0;
    transition: .3s;
    transition-delay:.2s;
    z-index: 1;
    margin-top: -100px;

}
#ooga{
    filter: grayscale(100%);
}

#ooga::before{
        content:"NOT YET AVAILABLE";
        font-family: 'oswald';
        font-size: 20px;
        position:absolute;
        top: 50%;
        left:50%;
        transform:translate(-50%, -50%);
        color: white;
        font-size: 22px;
        font-weight: light;
        width: 100%;
        opacity: 0;
        transition: .3s;
        transition-delay:.2s;
        z-index: 1;
        margin-top: -100px;
        padding-left: 50px;
        
       
        
    
    }

    .sect{
        min-height: 100vh;
        width: 100%;
          background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(Pins/IMG20220917173742.jpg);
       background-position: center;
       background-size: cover;
       position: relative;
      }
      
      .text-box{
       
        color: white;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        font-family: Font;
        font-size: 60px;
      
      }




.pic::after{
content: "";
position: absolute;
width: 100%;
height:0;
bottom: 0;
left: 0;
background-color: rgba(0,0,0,.4);
transition: .3s;
}

#ooga::after{
    content: "";
    position: absolute;
    width: 100%;
    height:0;
    bottom: 0;
    left: 0;
    background-color: rgba(37, 170, 163, 0.4);
    transition: .3s;
    }

.pic:hover::after{
height: 100%;
}
.pic:hover::before{
margin-top: 0;
opacity: 1;
}
.cover{
    background: #0f3b41;
}

#ooga:hover::after{
    height: 100%;
    margin-bottom: 0;
    }
    #ooga:hover::before{
    margin-top: 0;
    opacity: 1;
    }






.pic-img{
    width:100%;
    height:100%;
}

#check1:checked ~ .contained .photo-gallery .pic{
    opacity:1;
    transform: scale(1);
    position: relative;
    transition:0s;
    


  
}

#check2:checked ~ .contained .photo-gallery .Mission{
    transform: scale(1);
    opacity:1;
    position: relative;
    transition: .5s;

}

#check2:checked ~ .contained .photo-gallery .singers,
#check2:checked ~ .contained .photo-gallery .finder
{
   opacity:0;
   transform: scale(0);
   position: absolute;
   transition: .0s;
  
}


#check2:checked ~ .contained .photo-gallery .Mission{
    transform: scale(1);
    opacity:1;
    position: relative;
    transition: .5s;

}

#check2:checked ~ .contained .photo-gallery .singers,
#check2:checked ~ .contained .photo-gallery .finder
{
   opacity:0;
   transform: scale(0);
   position: absolute;
   transition: .0s;
  
}

.contained p{
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 25px;
    
}

.contained h13{
    padding-top: 20px;
}

#stone{
    position: relative;
    
    
}
@media only screen and (max-width: 400px){

}


@media only screen and (max-width: 850px){
    .footer-col-2 p{
        font-size:  100px;
    }
    h79{
        font-size:  100px;
    }
}

@media only screen and (max-width: 550px){
    .footer-col-2 p{
        font-size:  70px;
        margin-right: 70px;
    }
}
.scroll-tracker{
    height: .3rem;
    background-color: gold;
    position: fixed;
    inset: 0 0 auto;

}





p3{
    color: white;
    font-size: 60px;
    font-family: Font;
}

p4{
    color: brown;
    font-size: 20px;
    font-family: 'oswald';
}



.pastor{
    display: flex;
    
    align-items: center;
    
    min-width:
 
   
   
}
.pastor p{
    font-size: 25px;
}

@media only screen and (max-width: 590px){
    .pastor{
        display: inline-block;
        text-align: center;
        align-items: center;
        
    }
}


@media only screen and (max-width: 920px){
    .pastor p{
     font-size: 20px;
    }

    .contained p{
        font-size: 20px;
       }
}

.potrait img{
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    border: 5px solid white;
}


@media only screen and (max-width: 440px){
    .autotype{
        font-size: 25px;
        line-height: 2px;
    }
}

.whole{
    background-color: #3b0101;
    top:-50px;
    
    align-self: center;
    display:flex;
    text-align: left;
    
    align-self: center;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.55);
    width: 100%;
    
    

   
  
    
   


}

.whole img{
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.55);  
}




.sentence{
    text-align: center;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.sentence p{
    padding-left: 20px;
    font-family: Anton;
    font-weight: 100;
    font-size: 30px;
    color: white;
    
}

@media only screen and (max-width: 800px){
    
    .sentence p{
     
        font-size: 15px;
        font-weight: lighter;
      
        
    }
    
    
    
    
    
    
    body
    .col-2 h1{
        font-size: 30px;
        line-height: 40px;
    }
        }

        nav ul{
            position: absolute;
            top: 0px;
            
            background: transparent;
            width: 200px;
            overflow: hidden;
            transition: max-height 0.5s;
            height:100%;
            backdrop-filter: blur(10px);
            


            

           }

           nav ul li{
            display: block;
            margin-right: 50px;
            margin-top: 30px;
            margin-bottom: 10px;
            padding-left:15px;
            
           }

           nav ul li a{
            color:white;
            font-size: 25px;
            line-height: 30px;
            font-family: Anton;
            
         
            
            
           
           }

    
        




@media only screen and (max-height: 520px){
    nav{
        position: absolute;
        overflow-y: hidden;
        height: 250vh;
    }
}

@media only screen and (max-width: 410px){
 
    h80 {
      
        font-size: 50px;
   
        line-height:40px;
           
          
           
           
           
           }

           
}


.col-13 img{
cursor: pointer;
  }


.col-13 img:hover{
   transform: translateY(-10%);
   transition: all .5s ease-in-out;
  
 }
 .col-14 img:hover{
    transform: translateY(-10%);
    transition: all .5s ease-in-out;
   
  }
  .col-15 img:hover{
    transform: translateY(-10%);
    transition: all .5s ease-in-out;
   
  }
  .col-16 img:hover{
    transform: translateY(-10%);
    transition: all .5s ease-in-out;
   
  }
  .col-17 img:hover{
    transform: translateY(-10%);
    transition: all .5s ease-in-out;
   
  }
  .col-18 img:hover{
    transform: translateY(-10%);
    transition: all .5s ease-in-out;
   
  }
  .col-19 img:hover{
    transform: translateY(-10%);
    transition: all .5s ease-in-out;
   
  }
  .col-20 img:hover{
    transform: translateY(-10%);
    transition: all .5s ease-in-out;
   
  }

.conteina{
    width: 100%;
    height: 100vh;
    background: #0f3b41;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music{
    background: transparent;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.25);
}


nav12{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}

nav12 .circles{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: white;
    color: #d13e3e;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}
.media{
    width: 220px;
    border-radius: 50%;
    border: 8px solid white;
    box-shadow: 0 10px 60px rgba(225, 26, 26, .22);
}

.music h84{
    font-size: 20px;
    font-weight: 400;
    color: #333;
   

}

p17{
    font-size: 14px;
    color:#333;
}
#progress{
    margin-top:600px ;
}

.advert{
    color: white;
    font-family: Font;
}

.contactus{
    width: 80%;
    margin: auto;
    font-family: Anton;
    

}

.contcol{
    flex-basis: 48%;
    margin-bottom: 30px;

}
.contcol div{
    display: flex;
    align-items: center;
    margin-top: 40px;

}



 .contcol div .fa-phone, .fa-home, .fa-envelope-o{

color:black;
margin: 10px;
margin-right: 30px;

}

.contcol div p17{
    padding:0;
    font-size: 20px;

}

.contcol div h47{
font-size: 30px;
margin-bottom: 5px;
color:#555;
font-weight: 400;

}

#shake{
    background: black;
    width: 100%;
}
.sect{
    margin-bottom: 5px;
}


@media only screen and (min-width:400px){
.buttons{

padding-left: 56%;
}
}














































   

 
    
 









 

 





  














    






































































































